
.carousel .coming {
  width: 100%;
  height: 60%;
  /* background-color: #554238; */
  
}
.coming .btn-coming {
  width: 100%;
  /* background-color:#393939; */
  height: 8%;
  padding-top: 35px;
  padding-left: 30px;
  font-family: "Coda", cursive;
  /* margin-left: 30px; */
}
.coming .btn-coming a {
  color: white;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  margin-left: 10px;
  background-color: #515151;
}
.coming .btn-coming a:hover {
  color: black;
  background-color: rgb(0, 130, 125);
}
.card-coming{
  width: 100%;
  padding: 40px 0;
  height: 92%;
  background-color: #393939;
  
}
.card-coming .slide-content{
  height: 46%;
  margin: 0 40px;
  overflow: hidden;
  margin-top: 17px;
}

.card:hover {
  -webkit-transform: scale(1);
  transform: scale(0.92);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-wrapper {
  display: flex;
  
}
.card-coming .card{
  width: 25%;
  height:50%;
  transition: 0.3s ease-in-out;
  cursor: pointer;

}

.card-coming .image-content{
  width: 100%;
  height: 80%;
  position: relative;
  row-gap: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* padding: 25px 0;  */
}
.card-coming .card-image{
  position: relative;
  height: 100%;
  width: 100%;
  background: rgb(137, 137, 137);
  margin-bottom: 20px;
  
}

.card-coming .card-image .card-img{
  height: 100%;
  width: 100%;
  /* display: block;
    color: white;
    text-align: center;
    font-size: 22px;
    cursor: pointer; */
  
}

.card-coming .card-content {
  width: 100%;
  height: 20%;
  color: white;
  
  /* background-color: #40a3f4; */
 
}



.card-coming .swiper-navBtn{
  color: white;
  transition: color 0.3s ease;
}
.card-coming .swiper-navBtn:hover{
  color: grey;
}
.card-coming .swiper-navBtn::before,
.card-coming .swiper-navBtn::after{
  font-size: 35px;
}
.card-coming .swiper-button-next{
  /* color: black; */
  right: 0;
}
.card-coming .swiper-button-prev{
  /* color: black; */
  left: 0;
}
.card-coming .swiper-pagination-bullet{
  background-color: grey;
  opacity: 1;
}
.card-coming .swiper-pagination-bullet-active{
  background-color: white;
}

@media screen and (max-width: 768px) {
  .card-coming .slide-content{
    margin: 0 10px;
  }
  .card-coming .swiper-navBtn{
    display: none;
  }
}
/* .card-coming {
    width: 100%;
    background-color: #393939;
    height: 92%;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    display: flex;   
}

.card-coming .card1:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-coming .card1 {
    width: 20%;
    height: 50%;
    background-color: #393939;
    transition: 0.3s ease-in-out;
    padding-bottom: 5px;
    margin-right: 60px;

   
}

.card-coming .card1 img{
    width: 100%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-coming p,
.card-coming h4, 
.card-coming h5 {
    color: white;
    text-align: left;
} */


