@import url("https://fonts.googleapis.com/css2?family=Coda&display=swap");
body {
    background-color: #393939 !important;
    /* color: #393939; */
}
* {
    margin: 0;
    padding: 0;
    /* background-color:#554238; */
}
header * {
    font-family: "Coda", cursive;
    border: none;
    outline: none;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 14vh;
    background-color: #393939;
    position: sticky;
    top: 0;
    z-index: 800;
    margin-top: -20px;
}
header .header-top {
    width: 100%;
    height: 50%;
    background-color: #302b2b;
    display: flex;
}
header .header-top .bar-top-left {
    width: 15%;
    height: 100%;
    /* background-color: #302b2b; */
}

header .header-top .bar-top-left img {
    width: 230px;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 10px;
}
header .header-top .bar-top-right {
    width: 15%;
    height: 100%;
    /* background-color: #302b2b; */
    margin-left: 70%;
    text-align: center;
    display: flex;
    /* padding-top: 10px;
    padding-bottom: 15px; */
}
.bar-top-right .button-login {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 10px 15px 0px 15px;
    background-color: #515151;
    border-radius: 5px;
    color: white;
    margin-left: 30px;
    font-size: 18px;
    text-decoration: none;
}

.bar-top-right .button-register {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 10px 15px 0px 15px;
    background-color: #d3b74b;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    margin-left: 20px;
    text-decoration: none;
}

.bar-top-right .dropdown {
    padding: 20px 0px 0px 50px;
}
.bar-top-right .dropdown > a:focus,
.bar-top-right .dropdown > a:hover{
        text-decoration: none;
        color: #d3b74b !important;
}

.bar-top-right .nav-link {
    /* background-color: #515151; */
    border-radius: 5px;      
    position:fixed; 
    margin-left: 30px;
    margin: 0px 10px 0px 20px;
    font-size: 18px;
    position: relative;
    padding: 5px 10px 0px 0px;
}

/* dropdown menu */
.bar-top-right .dropdown-item {
    margin-top: 10px;
    background-color: #515151;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 18px;    
}
.bar-top-right .dropdown-menu {
    background-color: #515151;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}
.bar-top-right .dropdown-item:hover {
    background-color: #d3b74b;
    border-radius: 5px;
    color: black;
    font-size: 18px;
}

.bar-top-right .button-login:active,
.bar-top-right .button-register:active {
    box-shadow: 0 3px #929292;
    transform: translateY(2px);
}
.bar-top-right .button-login:hover,
.bar-top-right .button-register:hover {
    background-color:  #6a6a6a;
    color: white;
}
.bar-top-right a,
.button {
    font-family: "Coda", cursive;
    font-weight: 100px;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}
.bar-top-right button {
    /* background-color: #515151; */
    justify-content: space-between;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 15px;
    margin-left: 25px;
}

header .header-bottom {
    width: 70%;
    height: 50%;
    background-color: #515151;
    margin: 0 auto;
    /* list-style: none; */
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 150px;
    padding-right: 150px;
}
.header-bottom a {
    /* margin-left: 11vh;
    margin-right: 14vh; */
    color: white;
    text-decoration: none;
}
.header-bottom > a.active {
    color: #d3b74b !important;
    text-decoration: none;
}
.header-bottom a:hover {
    color: #d3b74b;
    text-decoration: none;
}
/* layout */
.wrapper-body {
    width: 100%;
    height: 150vh;
    background-color: #393939;
}

/* Slide ads */
.carousel {
    /* margin-bottom: 100%; */
    width: 70%;
    height: 100%;
    /* background-color: #920d0d; */
    margin: 0 auto;
    margin-top: 2%;
}

.carousel .item,
.carousel .item .active {
    height: 100%;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

.carousel-inner {
    height: 40%;
}

/* Declare heights */

.carousel .fill {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}


.first-slide img,
.second-slide img {

    width: 100%;
    height: 100%;
}
/* Nowshowing */
.carousel .showing {
    width: 100%;
    height: 60%;
    /* background-color: #554238; */
}
.showing .btn-showing {
    width: 100%;
    /* background-color:#b54545; */
    height: 8%;
    padding-top: 35px;
    padding-left: 30px;
    font-family: "Coda", cursive;
    /* margin-left: 30px; */
}
.showing .btn-showing a {
    color: white;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    margin-left: 10px;
    background-color: #515151;
}
.showing .btn-showing a:hover {
    color: #d3b74b;
    background-color:  #6a6a6a;
}
.card-showing {
    width: 100%;
    padding: 40px 0;
    height: 92%;
    /* background-color: #e28484; */
}
.card-showing .slide-content {
    height: 46%;
    margin: 0 40px;
    overflow: hidden;
    margin-top: 17px;
}
.card:hover {
    -webkit-transform: scale(1);
    transform: scale(0.92);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-wrapper {
    display: flex;
}
.card {
    width: 25%;
    height: 50%;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    /* background-color: #FFF; */
}


.image-content {
    width: 100%;
    height: 80%;
    position: relative;
    row-gap: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* padding: 25px 0;  */
}
.card-image {
    position: relative;
    height: 100%;
    width: 100%;
    background: rgb(137, 137, 137);
    margin-bottom: 20px;
}
.card-image .card-img {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}
.card-content {
    width: 100%;
    height: 20%;
    color: white;

    /* background-color: #40a3f4; */
}

.card-showing .swiper-navBtn {
    color: white;
    transition: color 0.3s ease;
}
.card-showing .swiper-navBtn:hover {
    color: grey;
}
.card-showing .swiper-navBtn::before,
.card-showing .swiper-navBtn::after {
    font-size: 35px;
}
.card-showing .swiper-button-next {
    /* color: black; */
    right: 0;
}
.card-showing .swiper-button-prev {
    /* color: black; */
    left: 0;
}
.card-showing .swiper-pagination-bullet {
    background-color: grey;
    opacity: 1;
}
.card-showing .swiper-pagination-bullet-active {
    background-color: white;
}

.about-us {
    width: 100%;
    height: 40%;
    /* background-color: white; */
}

/* Float four columns side by side */
.column {
    float: left;
    width: 15%;
    padding: 50px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Style footer */
footer * {
    font-family: "Coda", cursive;
    border: none;
    outline: none;
    box-sizing: border-box;
}
footer {
    width: 100%;
    height: 20vh;
    background-color: #95ac48;
    margin-top: 2%;
    text-align: center;
}
footer .top-footer {
    width: 100%;
    height: 75%;
    background-color: #c2c175;
    margin: 0 auto;
    display: flex;
}
footer .top-footer .top-left-footer {
    width: 30%;
    height: 100%;
    background-color: #302b2b;
    color: white;
    padding-left: 3%;
    padding-top: 10px;
}
footer .top-footer .top-left-footer a {
    color: #ffffff;
    padding-left: 3%;
    /* padding-top: 22px; */
}
footer .top-footer .top-left-footer a:hover {
    color: #c2aa4c;
}
footer .top-footer .top-middle-footer {
    width: 40%;
    height: 100%;
    background-color: #302b2b;
    text-align: center;
    color: white;
    padding-top: 10px;
}
footer .top-footer .top-right-footer {
    color: white;
    width: 30%;
    height: 100%;
    background-color: #302b2b;
    padding-top: 10px;
    padding-left: 3%;
}

footer .top-footer .top-right-footer .icon-social img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
}
footer .bottom-footer {
    width: 100%;
    height: 25%;
    background-color: #302b2b;
    text-align: center;
    padding-top: -10px;
    /* padding-bottom: 2.5%; */
}
footer .bottom-footer a {
    /* text-decoration: none; */
    color: #949494;
    padding-left: 40px;
    /* margin-bottom: 20px; */
    /* padding: 0px 0px 0px 0px; */
}

footer .bottom-footer p {
    font-size: 14px;
    color: #949494;
    margin-bottom: 0px;
}

footer .bottom-footer a:hover {
    color: white;
}

@media only screen and (max-width: 425px) {
    .wrapper-body {
        width: 100%;
        height: 150vh;  
    }
    header .header-top .bar-top-right {
        width: 15%;
        height: 100%;
        margin-left: 85%;
        text-align: center;
        display: flex;
    }
    header .header-top .bar-top-left img {
        width: 135px;
        margin-top: 15px;
        margin-left: 5px;
    }
    .bar-top-right .button-login {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 8px 8px 0px 8px;
        border-radius: 5px;
        margin-left: -123px;
        font-size: 12px;
    }
    .bar-top-right .button-register {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 8px 8px 0px 8px;
        border-radius: 5px;
        font-size: 12px;
        margin-left: 7px;
    }
    .bar-top-right .nav-link {
        margin: 0px 0px 0px -225px;
        font-size: 12px;
        margin-top: -5px;
    }
    header .header-bottom {
        width: 70%;
        height: 50%;
        justify-content:space-between;
        padding-left: 12px;
        padding-right: 12px;
    }
    
    
    header .header-bottom a {
        text-decoration: none;
        font-size: 10px;

    }
    footer {
        height: 20vh;
        margin-top: -40%;
    }
    footer .top-footer .top-left-footer > h3 {
        font-size: 14px;
    }
    footer .top-footer .top-middle-footer > h3 {
        font-size: 14px;
    }
    footer .top-footer .top-right-footer > h3 {
        font-size: 14px;
    }
    footer .top-footer .top-right-footer > h4 {
        font-size: 10px;
    }

    footer .top-footer .top-left-footer,
    footer .top-footer .top-middle-footer,
    footer .top-footer .top-right-footer {
        padding-top: 0px;
    }
    footer .top-footer .top-left-footer {
        text-align: left;
        font-size: 10px;
    }
    footer .top-footer .top-middle-footer {
        /* text-align: left; */
        font-size: 10px;
    }
    footer .top-footer .top-right-footer .icon-social {
        padding: 0px;
    }
    footer .top-footer .top-right-footer .icon-social img {
        width: 20px;
        height: 20px;
    }
    footer .top-footer {
        height: 75%;
    }
    footer .bottom-footer {
        height: 25%;
    }
    footer .bottom-footer p {
        font-size: 10px;
    }
    footer .bottom-footer a {
        padding-left: 20px;
        font-size: 10px;
    }
    .carousel {
        margin-top: 5%;
    }
    .carousel-control {
        font-size: 15px;
    }
    .carousel-indicators {
        font-size: 8px;
    }
    .carousel .showing {
        height: 40%;
        margin-top: 3%;
    }
    .showing .btn-showing { 
        padding-top: 15px;
        padding-left: 0px;
        font-size: 10px;
        height: 15%;
    }
    .showing .btn-showing a {
        padding: 3px 8px 3px 8px;
        margin-right: 5px;
        margin-left: 0px;
    }
    .card-showing .swiper-navBtn::before, .card-showing .swiper-navBtn::after {
        font-size: 15px;
    }
    .card-showing {
    width: 100%;
    padding: 40px 0;
    height: 85%;
    /* background-color: #e28484; */
}
    
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .wrapper-body {
        width: 100%;
        /* height: 90vh;   */
    }
    header .header-top .bar-top-right {
        width: 15%;
        height: 100%;
        margin-left: 85%;
        text-align: center;
        display: flex;
    }
    header .header-top .bar-top-left img {
        width: 150px;
        margin-top: 15px;
        margin-left: 13px;
    }
    .bar-top-right .button-login {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 8px 8px 0px 8px;
        border-radius: 5px;
        margin-left: -123px;
        font-size: 12px;
    }
    .bar-top-right .button-register {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 8px 8px 0px 8px;
        border-radius: 5px;
        font-size: 12px;
        margin-left: 7px;
    }
    .bar-top-right .nav-link {
        margin: 0px 0px 0px -225px;
        font-size: 12px;
        margin-top: -5px;
    }
    header .header-bottom {
        width: 70%;
        height: 50%;
        justify-content:space-between;
        padding-left: 12px;
        padding-right: 12px;
    }
    
    header .header-bottom a {
        text-decoration: none;
        font-size: 12px;

    }
    footer {
        height: 20vh;
        /* margin-top: 50px; */
    }
    footer .top-footer .top-left-footer > h3 {
        font-size: 16px;
    }
    footer .top-footer .top-middle-footer > h3 {
        font-size: 16px;
    }
    footer .top-footer .top-right-footer > h3 {
        font-size: 16px;
    }
    footer .top-footer .top-right-footer > h4 {
        font-size: 12px;
    }

    footer .top-footer .top-left-footer,
    footer .top-footer .top-middle-footer,
    footer .top-footer .top-right-footer {
        padding-top: 0px;
    }
    footer .top-footer .top-left-footer {
        text-align: left;
        font-size: 12px;
    }
    footer .top-footer .top-middle-footer {
        /* text-align: left; */
        font-size: 12px;
    }
    footer .top-footer .top-left-footer a {
        color: #ffffff;
        /* padding-left: 3%; */
        /* padding-top: 22px; */
    }
    footer .top-footer .top-right-footer .icon-social {
        padding: 0px;
    }
    footer .top-footer .top-right-footer .icon-social img {
        width: 20px;
        height: 20px;
    }
    footer .top-footer {
        height: 75%;
    }
    footer .bottom-footer {
        height: 25%;
    }
    footer .bottom-footer p {
        font-size: 12px;
    }
    footer .bottom-footer a {
        padding-left: 20px;
        font-size: 12px;
    }

    
    .carousel-inner {
        position: relative;
        height: 20%;
        width: 100%;
        overflow: hidden;
    
    }

    .carousel .showing {
        width: 100%;
        height: 60%;
        margin-left: -10px;
        /* background-color: #554238; */
    }
    .showing .btn-showing {
        width: 100%;
        /* background-color: #b54545; */
        height: 8%;
        padding-top: 40px;
        padding-left: 32px;
        font-family: "Coda", cursive;
        font-size: 10px;
        margin-left: -33px;
    }

    .slide-content {
        height: 40%;
        margin: 0 10px;
        overflow: hidden;
        margin-top: 17px;
        width: 150%;
    }

    .card-showing .swiper-button-prev {
        /* color: black; */
        left: 0;
        top: 130px;
    }
    .card-showing .swiper-button-next {
        /* color: black; */
        right: 0;
        top: 130px;

    }
}