@import url("https://fonts.googleapis.com/css2?family=Coda&display=swap");

* {
    margin: 0;
    padding: 0;
    /* background-color:#554238; */
}
header * {
    font-family: "Coda", cursive;
    border: none;
    outline: none;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 14vh;
    background-color: #393939;
    position: sticky;
    top: 0;
    z-index: 800;
    margin-top: -20px;
}
header .header-top {
    width: 100%;
    height: 50%;
    background-color: #302b2b;
    display: flex;
    
}
header .header-top .bar-top-left {
    width: 15%;
    height: 100%;
    background-color: #302b2b;
}

header .header-top .bar-top-left img {
    width: 230px;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 10px;
}
header .header-top .bar-top-right {
    width: 15%;
    height: 100%;
    background-color: #302b2b;
    margin-left: 70%;
    text-align: center;
    display: flex;
    /* padding-top: 10px;
    padding-bottom: 15px; */
}
    .bar-top-right .button-login
    {
        margin-top: 12px;
        margin-bottom: 12px;
        padding: 10px 15px 0px 15px;
        background-color: #515151;
        border-radius: 5px;
        color: white;
        margin-left: 30px;
        font-size: 18px;
    }

    .bar-top-right .button-register {
        margin-top: 12px;
        margin-bottom: 12px;
        padding: 10px 15px 0px 15px;
        background-color: #d3b74b;
        border-radius: 5px;
        color: black;
        font-size: 18px;
        margin-left: 20px;
    }

    .bar-top-right .dropdown {
        
        padding-top: 10px;
    }
    #navbarDropdown {

    }
    .bar-top-right .nav-link {
        /* background-color: #515151; */
        border-radius: 5px;
        padding: 10px 15px 10px 15px;       
        font-size: 18px;
        position:fixed;
        margin-left: 30px;

    }

    .bar-top-right .nav-link:hover{
        /* background-color: grey; */
    }

    /* dropdown menu */
    .bar-top-right .dropdown-item
    {
        margin-top: 10px;
        background-color: #515151;
        border-radius: 5px;
        color: rgb(255, 255, 255);  
        font-size: 18px;
    }
    .bar-top-right .dropdown-menu
    {
        background-color: #515151;
        border-radius: 5px;
        color: white;
        font-size: 18px;
    }
    .bar-top-right .dropdown-item:hover
    {
        background-color: white;
        border-radius: 5px;
        color: black;
        font-size: 18px;
    }

    .bar-top-right .button-login:hover,
    .bar-top-right .button-register:hover
    /* .bar-top-right .dropdown:hover  */
    {
        background-color: rgb(0, 130, 125);
        
    }
    .bar-top-right a, .button {
        font-family: "Coda", cursive;
        font-weight: 100px;
        font-size: 15px;
        color: #ffffff;
        text-decoration: none;
    }
    .bar-top-right button {
        /* background-color: #515151; */
        justify-content: space-between;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        margin-top: 15px;
        margin-left: 25px;
    }

header .header-bottom {
    width: 70%;
    height: 50%;
    background-color: #515151;
    margin: 0 auto;
    /* list-style: none; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
header .header-bottom a {
    margin-left: 11vh;
    margin-right: 14vh;
    /* padding: 0 0vh 0 10vh; */
    color: white;
    text-decoration: none;
}
header .header-bottom a:hover {
    color: #d3b74b;
}


/* layout */
.wrapper-body {
    width: 100%;
    height: 150vh;
    background-color: #393939;
}

/* Slide ads */
.carousel {
    /* margin-bottom: 100%; */
    width: 70%;
    height: 100%;
    /* background-color: #920d0d; */
    margin: 0 auto;
    margin-top: 2%;
  
}

.carousel .item,
.carousel .item .active {
    height: 100%;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

.carousel-inner {
    height: 40%;
}

/* Declare heights */

.carousel .fill {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}


.first-slide img,
.second-slide img,
.third-slide img,
.forth-slide img,
.fifth-slide img,
.sixth-slide img,
.seventh-slide img,
.eigth-slide img {
    width: 100%;
    height: 100%;
}
/* Nowshowing */
.carousel .showing {
    width: 100%;
    height: 60%;
    /* background-color: #554238; */
    
}
.showing .btn-showing {
    width: 100%;
    /* background-color:#b54545; */
    height: 8%;
    padding-top: 35px;
    padding-left: 30px;
    font-family: "Coda", cursive;
    /* margin-left: 30px; */
}
.showing .btn-showing a {
    color: white;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    margin-left: 10px;
    background-color: #515151;
}
.showing .btn-showing a:hover {
    color: black;
    background-color: rgb(0, 130, 125);
}
.card-showing{
    width: 100%;
    padding: 40px 0;
    height: 92%;
    /* background-color: #e28484; */
    
  }
  .slide-content{
    height: 46%;
    margin: 0 40px;
    overflow: hidden;
    margin-top: 17px;
    
    
  
  }
  .card:hover {
    -webkit-transform: scale(1);
    transform: scale(0.92);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
 
  .card-wrapper {
    display: flex;
    
  }
  .card{
    width: 25%;
    height:50%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    
    /* background-color: #FFF; */
  
  }

  .swiper-slide {
   
    /* background-color: red; */
  
  }
 
  .image-content{
    width: 100%;
    height: 80%;
    position: relative;
    row-gap: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* padding: 25px 0;  */
  }
  .card-image{
    position: relative;
    height: 100%;
    width: 100%;
    background: rgb(137, 137, 137);
    margin-bottom: 20px;
    
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
  }
  .card-content {
    width: 100%;
    height: 20%;
    color: white;
    
    /* background-color: #40a3f4; */
   
  }
  

  
  .card-showing .swiper-navBtn{
    color: white;
    transition: color 0.3s ease;
  }
  .card-showing .swiper-navBtn:hover{
    color: grey;
  }
  .card-showing .swiper-navBtn::before,
  .card-showing .swiper-navBtn::after{
    font-size: 35px;
  }
  .card-showing .swiper-button-next{
    /* color: black; */
    right: 0;
  }
  .card-showing .swiper-button-prev{
    /* color: black; */
    left: 0;
  }
  .card-showing .swiper-pagination-bullet{
    background-color: grey;
    opacity: 1;
  }
  .card-showing .swiper-pagination-bullet-active{
    background-color: white;
  }
  
  @media screen and (max-width: 768px) {
    .card-showing .slide-content{
      margin: 0 10px;
    }
    .card-showing .swiper-navBtn{
      display: none;
    }
  }
/* .card-showing * {
    font-family: "Coda", cursive;
}

.card-showing {
    width: 100%;
    background-color: #feb086;
    height: 52%;
    margin: 0;
    display: flex;
    
}
.card-showing .cardbox1:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-showing .cardbox1 {
    width: 20%;
    height: 50%;
    background-color: #554238;
    transition: 0.3s ease-in-out;
    padding-bottom: 5px;
    margin-right: 60px;
    
} */

/* .card-showing .cardbox1 img {
    width: 100%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

/* .card-showing p,
.card-showing h4,
.card-showing h5 {
    color: white;
    text-align: left;
} */

.about-us {
    width: 100%;
    height: 40%;
    /* background-color: white; */
}

/* Float four columns side by side */
.column {
    float: left;
    width: 15%;
    padding: 50px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style footer */
footer * {
    font-family: "Coda", cursive;
    border: none;
    outline: none;
    box-sizing: border-box;
    
}
footer {
    width: 100% ;
    height: 20vh;
    background-color: #95ac48;
    margin-top: 2%;
    text-align: center;
}
footer .top-footer {
    width: 100%;
    height: 77%;
    background-color: #c2c175;
    margin: 0 auto;
    display: flex;
}
footer .top-footer .top-left-footer {
    width: 30%;
    height: 100%;
    background-color: #302b2b;
    color: white;
    padding-left: 3%;
    padding-top: 22px;
}
footer .top-footer .top-left-footer a {
    color: #ffffff;
    padding-left: 3%;
    padding-top: 22px;
}
footer .top-footer .top-left-footer a:hover {
    color: #c2aa4c;
}
footer .top-footer .top-middle-footer {
    width: 40%;
    height: 100%;
    background-color: #302b2b;
    text-align: center;
    color: white;
    padding-top: 22px;
}
footer .top-footer .top-right-footer {
    color: white;
    width: 30%;
    height: 100%;
    background-color: #302b2b;
    padding-top: 22px;
    padding-left: 3%;
}
footer .top-footer .top-right-footer .icon-social {
    padding: 20px;
}
footer .top-footer .top-right-footer .icon-social img {
    margin-right: 5px;
}
footer .bottom-footer {
    width: 100%;
    height: 23%;
    background-color: #302b2b;
    text-align: center;
    padding-bottom: 2.5%;
}
footer .bottom-footer a {
    text-decoration: none;
}

footer .bottom-footer p {
    font-size: 0.9em;
    color: #949494;
}

footer .bottom-footer a:hover {
    color: rgb(32, 164, 208);
}
