.moviedetail * {
    font-family: "Coda", cursive;
}
.moviedetail {
    
    width: 70%;
    height: 100%;
    background-color: #393939;
    margin: 0 auto;
    margin-top: 2%;
}
.moviedetail .trailer {
    width: 100%;
    height: 35%;
    /* background-color: #554238; */
    padding-bottom: 40px;
}
.trailer iframe {
    width: 100%;
    height: 91.5%;
}
.moviedetail .trailer h2 {
    color: white;
}
.moviedetail .movie-info {
    width: 100%;
    height: 19%;
    /* background-color: #393939; */
    color: black; 
    display: flex;
}
.movie-info .info-image {
    width: 15%;
    height: 100%;
    /* background-color: #393939; */
}
.movie-info .info-image img{
   width: 100%;
    height: 100%;
}
.movie-info .info-descript {
    width: 85%;
    height: 100%;
    /* background-color: #393939; */
    padding-left: 2%;
    padding-top: 1%;
    
}
.info-descript i,
.info-descript span {
    margin-top: 15px;
    /* padding-top: 5px; */
    color:#ffffff;
    font-size: 20px;
    font-family: "Coda", cursive;
    padding-left: 15px;
}
.info-descript h2 {
    color: white;
}   
.moviedetail .movie-showtime {
    padding-top: 3%;
    width: 100%;
    height: 46%;
    /* background-color: #393939; */
    display: flex;
}
.movie-showtime .showtime-line {
    width: 1.5px;
    height: 100%;
    background-color: white;
}
.movie-showtime .theater {
    width: 92%;
    height: 100%;
    /* background-color: #393939; */
    margin-left: 8%;
    display: flex;
    flex-wrap: wrap;
}
.theater .theater1 {
    width: 70%;
    height: 20%;
    background-color: #6a6a6a;
    padding-left: 5%;
    color: white;
    border-radius: 10px;
}
.theater .theater1 ul {
    margin-top: 40px;
}
.theater .theater1 a {
    color: #aeaeae;
    border-radius: 5px;
    border: 2px solid;
    padding: 5px 25px 5px 25px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 18px;

    margin-right: 40px;
}

.theater .theater1 a:hover {
    color: white;
    background-color: #aeaeae;
    border-color: #aeaeae;

}